* {
    margin: 0;
    padding: 0;
}

body {
    background-color:white
}

p, h1 {
    margin: 0;
}

.fondo-rosa {
    background-color: plum !important;
}

.boton-rosa {
    background-color: rgb(255, 67, 217) !important;
    border: none !important;
}

.boton-rosa:hover {
    background-color: rgb(207, 51, 175) !important;
    border: none !important;
}


.titulo {
    color: black;
}

.iconogrande {
    font-size: 3.125rem;
}

.encabezado__foto {
    width: 100%;
}

.header__nav {
    text-align: center;
    background-color: pink;
}

.header__links {
    margin: 0.625rem;
    padding: 0.625rem;
    list-style: none;
    display: inline;
}

.header__links a {
    color: black;
    text-decoration: none;
}


.titulo__nombrejefa {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 6.25rem;
    color: rgb(221, 160, 221);
}

.video {
    width: 100%;
    margin-bottom: 1.625rem;
}

.footer__infofinal {
    text-align: center;
    background-color: rgb(255, 67, 217);
}

.footer__redes {
    text-align: center;
    background-color: rgb(255, 67, 217);
}

.iconogrande {
    font-size: 12.5rem;
}

.iconos__card {
    display: inline;
    text-align: center;
    margin-top: 1.25rem;
}

.formulario__uno {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.formulario__dos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario__form {
    display: flex;
    justify-content: space-evenly;
}

.mensajemotivador {
    text-align: center;
    margin-top: 0.625rem;
    margin-bottom: 1rem;
    color: rgb(214, 20, 175);
    text-decoration: underline;
    font-size: 1.25rem;
}


.acceso__boton {
    margin-left: 1.625rem;
}

.encabezado__titulo {
    background-image: url(../recursos/fotoindex.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 28.125rem;
    color: black;
    text-align: center;
    font-weight: bolder;
    margin: 1.25rem;
    padding: 1.25rem;
    border: 1.25rem solid black;
}

.encabezado__texto {
    background-color: plum;
    width: 50%;
    overflow-wrap: anywhere;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    font-size: 1.875rem;
    font-family: 'Orelega One';
    font-weight: bolder;
    color: black;
    text-align: center;
}

.encabezado {
    background-color:white;
}

.infoservicios__explicacionuno {
    background-color: rgb(221, 160, 221);

}

.infoservicios__explicaciondos {
    background-color: white
}

.infoservicios__explicaciontres {
    background-color: rgb(221, 160, 221);
}

.iconos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0.75rem;
    padding: 0.75rem;
}

.quienessomos__titulo {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.875rem;
    color: rgb(214, 20, 175);
    text-align: center;
    text-decoration: underline;

}

.quienessomos__infogra {
    text-align: justify;
    margin: 0.625rem;
    padding: 0.625rem;
}

.quienessomos__contenido {
    margin: 0.625rem;
    padding: 0.625rem;
    display: flex;
}

.quienessomos__foto, .quienessomos__infogra{
    flex-basis: 50%;
    
}

.quienessomos__foto img{
    max-width: 100%;

}

/*.video{
    max-width: 100%;
}*/

.video{
    text-align: center;
}

.infoservicios {
    margin: 0.625rem;
    padding: 0.625rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 100%;
    justify-content: center;
}

.infoservicios__todosdos {
    margin: 0.625rem;
    padding: 0.625rem;
}

.acceso__clientes {
    margin: 1.25rem;
    padding: 1.25rem;
}

.acceso__siguiente {
    border-color: rgb(0, 170, 255);
    border-width: 0.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario__boton {
    margin: 0.25rem;
    padding: 0.25rem;
    border-color: rgb(0, 170, 255);
    border-width: 0.25rem;
}

.linkVisited {
    color: white;
    text-decoration: none;

    transition: all 0.25s;
}

.linkVisited:hover {
    color: gray;
}

.linkVisited:visited {
    color: gray;
}

.img-size {
    width: 100% !important;
}



/* MQ tablet*/
@media (max-width:991px) {
    .iconos {
        grid-template-columns: repeat(2, 1fr);
    }

    .infoservicios {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .titulo-rosa{
        color: rgb(200,0,200) !important;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .icono-rosa{
        color: rgb(200,0,200) !important;
    }
}

/* MQ tcelular*/
@media (max-width:667px) {
    .encabezado__texto {
        width: 100%;
    }

    .iconos {
        grid-template-columns: 1fr;
    }

    .infoservicios {
        grid-template-columns: 1fr;
    }

    .quienessomos__contenido{
        flex-direction: column;
    }

    .formulario__form{
        flex-direction: column;
    }

    .acceso__form{
       flex-direction: column;
    }
    .titulo-rosa{
        color: rgb(200,0,200) !important;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .icono-rosa{
        color: rgb(200,0,200) !important;
    }

}

