/* 
Variables
*/
.footer__infofinal {
  text-align: center;
  background-color: #ff43d9 !important; }

.footer__redes {
  text-align: center;
  background-color: #ff43d9 !important; }

@media (max-width: 991px) {
  body {
    padding-bottom: 4rem; } }

/* MQ tcelular*/
@media (max-width: 667px) {
  body {
    padding-bottom: 4rem; } }

* {
  margin: 0;
  padding: 0; }

p, h1 {
  margin: 0; }

.texto-rosa {
  color: #ff43d9 !important; }

.fondo-rosa {
  background-color: plum !important; }

.boton-rosa {
  background: #ff43d9 !important;
  border: none !important; }
  .boton-rosa:hover {
    background: #d82bb6 !important;
    border: none !important; }

.boton-gradiente {
  background: linear-gradient(90deg, white 0%, #ff00d7 1%, #fbd4f8 100%);
  color: black;
  border: none !important; }

.textarea {
  resize: none; }

.encabezado {
  background-color: white; }
  .encabezado__titulo {
    background-image: url(../recursos/fotoindex.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 28.125rem;
    color: black;
    text-align: center;
    font-weight: bolder;
    margin: 1.25rem;
    padding: 1.25rem;
    border: 1.25rem solid black; }
  .encabezado__texto {
    background-color: plum !important;
    width: 50%;
    overflow-wrap: anywhere;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    font-size: 1.875rem;
    font-family: "Orelega One";
    font-weight: bolder;
    color: black;
    text-align: center; }
  .encabezado .iconos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0.75rem;
    padding: 0.75rem; }
    .encabezado .iconos__card {
      display: inline;
      text-align: center;
      margin-top: 1.25rem; }
      .encabezado .iconos__card .iconogrande {
        font-size: 8rem; }
  .encabezado .titulo {
    color: black; }
    .encabezado .titulo__nombrejefa {
      text-align: center;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      font-size: 6.25rem;
      color: plum !important; }
  .encabezado .video {
    text-align: center;
    width: 100%;
    margin-bottom: 1.625rem; }
  .encabezado .body {
    background-color: white; }

.infoservicios {
  margin: 0.625rem;
  padding: 0.625rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100%;
  justify-content: center; }
  .infoservicios__todosdos {
    margin: 0.625rem;
    padding: 0.625rem; }
  .infoservicios__explicacionuno {
    background-color: plum !important; }
  .infoservicios__explicaciontres {
    background-color: plum !important; }

.acceso {
  margin-top: 10rem; }

.linkVisited {
  color: white;
  text-decoration: none;
  transition: all 0.25s; }
  .linkVisited:hover {
    color: gray; }
  .linkVisited:visited {
    color: gray; }

.img-size {
  width: 100% !important; }

/* MQ tablet*/
@media (max-width: 991px) {
  .encabezado .iconos {
    grid-template-columns: repeat(2, 1fr); }
  .encabezado .iconogrande {
    font-size: 3.125rem; }
  .infoservicios {
    grid-template-columns: repeat(2, 1fr); }
  .titulo-rosa {
    color: #ff43d9 !important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }
  .iconos__card {
    color: #ff43d9 !important; } }

/* MQ tcelular*/
@media (max-width: 667px) {
  .encabezado__texto {
    width: 100%; }
  .encabezado .iconos {
    grid-template-columns: 1fr; }
    .encabezado .iconos .iconogrande {
      font-size: 3.125rem; }
  .infoservicios {
    grid-template-columns: 1fr; }
  .titulo-rosa {
    color: #ff43d9 !important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }
  .iconos__card {
    color: #ff43d9 !important; } }
