$color-secundario: rgb(250, 74, 159) !important;
$color-principal: rgb(239, 146, 239) !important;
$color-oscuro: rgb(216, 43, 182) !important;
$color-claro:white;
$color-neutral:gray;
$gradiente: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,0,215,1) 1%, rgba(251,212,248,1) 100%);
$fuente-titulo:'Orelega One';